.root {
    display: grid;
    grid-template-columns: 50% 50%; /* Split 50/50 */
    min-height: 85vh;
    margin-bottom: 60px;
    // gap: 6px;
    align-items: center;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0px;
    justify-content: center;
}

.title {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 8px;
}

.subtitle {
    font: var(--heading2);
    font-size: 60px;
    max-width: 600px;
}

.description {
    font-size: 22px;
    max-width: 90%;
    font-weight: 700;
    margin: 1em;
}

.image {
    width: 100%; /* Make image fill its container */
    height: 100%; /* Maintain the height */
    object-fit: cover; /* Ensure the image covers the area */
    object-position: center; /* Center the image */
    display: block;
}

@media screen and (max-width: 1024px) {
    .root {
        min-height: 600px;
        margin-bottom: 40px;
        grid-template-columns: 1fr;
    }
    .image {
        height: auto; /* Adjust image height */
    }
    .subtitle {
        font: var(--heading3);
        max-width: unset;
    }

    .description {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .root {
        min-height: 0;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        flex-direction: column;
    }

    .subtitle {
        font-size: 40px;
        margin-bottom: 5%;
    }

    .aboutSection,
    .image {
        width: 100%;
    }

    .description {
        max-width: unset;
        font-size: 14px;
    }
}

.header {
    text-align: center;
    font: var(--heading1);
    margin: 10px;
}
.infoBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.infoBlock p {
    margin-left: 20px;
    font-style: italic;
    font-size: 80%;
}

.highlight {
    background-color: transparent;
    border-radius: 5px;
    background: rgb(229,152,155);
    background: linear-gradient(90deg, rgba(229,152,155,1) 0%, rgba(190,162,172,0) 100%);
}

.aboutUsSection {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}
.pagebreak{
    border-top: 5px solid var(--primary3);
}
.aboutUsSectionTitle {
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    @media (width <= 480px) {
        font-size: 22px;
    }
}

.aboutUsCardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 24px;
    align-content: center;
    width: fit-content;
    align-items: center;
    @media (width < 1024px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (width < 480px) {
        grid-template-columns: 1fr;
    }
}

.aboutUsCard {
    padding: 24px;
    border-radius: 12px;
    background: var(--primary3);
    overflow: hidden; /* Prevents content overflow */
    width: fit-content; /* Adjust this as needed to fit your layout */
    height: 100%;
    width: 100%;
    border: 2px solid #0000004d;
    
    transition: transform 0.3s ease;
    @media (width < 1024px) {
        padding: 16px;
    }
}

.aboutUsCard:hover{
    transform: scale(1.1);
}

.memberImage {
    width: 15em;
    height: 15em;
    object-fit: cover;
    border-radius: 50px;
    border: 2px solid #0000004d;
    @media (width <= 768px) {
        width: 10em;
        height: 10em;
    }
}

.aboutUsMember {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
}

.memberDetails {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}

.memberName {
    font-weight: 600;
    text-align: center;
    font-size: 1.5em;
}

.memberTitle {
    color: #4b4b4b;
    font-size: 1em;
    text-align: center;
}

.quoteText {
    color: #161616;
    font-style: italic;
}

.technologiesContainer{
    text-align: center;
    padding-bottom: 2em;
    position: relative; /* Ensures child absolute positioning works */
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents overflow issues */  
    background: var(--primary3);
    background: linear-gradient(0, var(--primary3) 0%, var(--page-background-color) 20%);
}

.technologiesContainer h1{
    padding: 1em;
    color: var(--secondary4);
}

.technologiesLogos{
    display: flex;
    flex-direction: row;
    gap: 5em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.technologiesContent{
    position: relative;
    z-index: 2;
}
.technologiesLogos img{
    max-width: 10em;
    
    transition: transform 0.3s ease;
}

.technologiesLogos img:hover{
    transform: scale(1.1);
}

.magnetLines {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
