.quiz-container {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    background: var(--primary1);
    border-radius: 10px;
    max-width: 90vw;
}

.question-card {
    margin-bottom: 20px;
    font-size: xx-large;
}

.question-counter {
    font-size: large;
    color: #555;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.answer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    max-width: 70vw;
    margin: 0 auto;
    list-style-type: none;
    padding: 1em;
}

.answer-button {
    width: 100%;
    height: 100%;
    // max-width: max-content;
    padding: 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: x-large;
    transition:
        transform 0.3s ease,
        background 0.3s ease;
}

.answer-button:hover {
    background: #45a049;
    transform: scale(1.05);
}
.answer-button:active {
    transform: scale(0.95);
}

.result {
    color: #333;
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
}

.resultTitle{
    font-size: xx-large;
    font-weight: bold;
    color: #333;
}

.resultFlair{
    font-size: x-large;
    color: #333;
}

.buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.buttons span{
    margin-right: 5px;
}

.post-button,
.feedback-button,
.reset-button {
    // width: 100%;
    // max-width: 300px;
    padding: 0.5em 2em;
    font-size: x-large;
    display: flex;
    align-items: center;
}

.post-button {
    background: #1170d6;
    color: white;
    border: none;
    padding: 0.3em 3em;
    margin-top: 20px;
    border-radius: 5px;
    font-size: x-large;
    cursor: pointer;
    transition: background 0.3s;
    font: var(--heading6);
}
.post-button:hover {
    background: #0056b3;
}

.feedback-button {
    background: #5611d6;
    color: white;
    border: none;
    padding: 0.3em 3em;
    margin-top: 20px;
    border-radius: 5px;
    font-size: x-large;
    cursor: pointer;
    transition: background 0.3s;
    font: var(--heading6);
}
.feedback-button:hover {
    background: #7400b3;
}

.reset-button {
    background: #1170d6;
    color: white;
    border: none;
    padding: 0.3em 3em;
    margin-top: 20px;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
    transition: background 0.3s;
    // font: var(--heading5);
}

.reset-button:hover {
    background: #0056b3;
}

.QuizComponent_progressBar {
    margin: 20px;
}

// .quiz-content {
//     // padding: 40px;
// }

.custom-progress-bar .p-progressbar {
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 1.2em;
    overflow: hidden;
    color: #ffffff;
}

.custom-progress-bar .p-progressbar .p-progressbar-value {
    background-color: #4c5baf;
    border-radius: 10px;
    transition: width 0.4s ease;
}

.custom-progress-bar-bottom {
    direction: rtl;
}

@media (max-width: 800px) {
    .quiz-container {
        padding: 15px;
    }

    .question-card {
        font-size: 1.5em;
    }

    .answer-button {
        padding: 10px;
        font-size: 0.8em;
    }

    .answer-grid {
        max-width: 100vw;
    }
    .resultFlair{
        font-size: large;
    }

    .post-button,
    .feedback-button,
    .reset-button {
        font-size: large;
        padding: 0.5em 1.5em;
    }
}

.confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    pointer-events: none; /* Optional: Prevents it from blocking clicks */
}

/* If the screen is very narrow, fallback to 1x4 again */
@media (max-width: 800px) {
    .answer-grid {
        grid-template-columns: 1fr;
    }
}
