.privacyPolicyContainer {
    font-size: 1.5em;
}
.privacyPolicySection {
    text-align: start;
    font-weight: 700;
    font-size: 1.5em;
}
.privacyPolicyBody {
    text-align: start;
}
.div2 {
    text-align: start;
}
.flair {
    font-size: 2em;
    font-style: italic;
    color: #cc1d1d;
}
.contactContainer {
    display: flex;
    align-items: center;
    align-content: center;
}
